<header class="site-header" role="banner">
  <div class="container">
    <div class="row">
      <div class="site-navigation">
        {% if site.logo %}
          <h1 class="site-logo"><a href="/"><img src="{{ site.logo }}" alt="{{ site.title }}"></a></h1>
        {% else %}
          <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
        {% endif %}

        <div class="nav-toggle" id="nav-toggle"><i class="fa fa-bars"></i></div>
        <div class="clearfix hidden-md-up"></div>

        <nav role="navigation">
          {% if site.navigation %}
            <ul>
              {% for item in site.navigation %}
                <li>
                  <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
              {% endfor %}
              <li class="site-search">
                <form action="{{ site.blog_url }}" method="GET">
                  <input name="q" type="text" placeholder="Search…" value="{% if filters %}{{ filters.search.query }}{% endif %}">
                </form>

                <a href="#" class="site-search-trigger"><i class="fa fa-search"></i></a>
              </li>
            </ul>
          {% endif %}
        </nav>
      </div>

      {% if site.description  %}
        <div class="site-description">
          {{ site.description }}
        </div>
      {% endif  %}
    </div>
  </div>
</header>
