{% extends 'partials/base.html' %}

{% block content %}
  {{ super() }}

  <main id="content" class="main">
    <div class="wrapper">
      <div class="content">
        <div class="row">
          <div class="content__inner">
            {% include 'partials/header.html' %}

            <div class="post">
              <div class="post-meta">
                <h1 class="post-title">{{ error.title }} ({{ error.status_code }})</h1>
              </div>

              <div class="post-content">
                {{ error.message }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'partials/footer.html' %}
  </main>

  <aside class="sidebar">
    {% if site.description %}
      <div class="site-description">
        <h6>About {{ site.title }}</h6>
        {{ site.description }}
      </div>
    {% endif %}

    {% if theme.variables.twitter_username or theme.variables.facebook_url or theme.variables.linkedin_url or theme.variables.instagram_username or theme.variables.pinterest_username %}
      <div class="typed-social-wrapper">
        {% if theme.variables.twitter_username %}
          <a href="https://twitter.com/{{ theme.variables.twitter_username }}" class="typed-social typed-social-twitter"></a>
        {% endif %}

        {% if theme.variables.facebook_url %}
          <a href="{{ theme.variables.facebook_url }}" class="typed-social typed-social-facebook"></a>
        {% endif %}

        {% if theme.variables.linkedin_url %}
          <a href="{{ theme.variables.linkedin_url }}" class="typed-social typed-social-linkedin"></a>
        {% endif %}

        {% if theme.variables.instagram_username %}
          <a href="https://www.instagram.com/{{ theme.variables.instagram_username }}" class="typed-social typed-social-instagram"></a>
        {% endif %}

        {% if theme.variables.pinterest_username %}
          <a href="https://pinterest.com/{{ theme.variables.pinterest_username }}" class="typed-social typed-social-pinterest"></a>
        {% endif %}
      </div>
    {% endif %}
  </aside>
{% endblock content %}
