{% extends 'partials/base.html' %}

{% block title %}
  {{ super() }}

  {% if meta.title == '' %}
    {{ post.published_at|date }} &middot; {{ site.title }}
  {% else %}
    {{ meta.title }} &middot; {{ site.title }}
  {% endif %}
{% endblock title %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ post.url|absolute_url }}">
  <meta property="og:type" content="article">

  {% if post.images %}
    <meta name="twitter:image" content="{{ post.images[0].url }}">
    {% for image in post.images %}
      <meta property="og:image" content="{{ image.url }}">
    {% endfor %}
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ meta.title }}",
      "alternativeHeadline": "{{ meta.title }}",
      {% if post.images %}
        "image": [
          "{{ post.images[0].url }}"
        ],
      {% endif %}
      "datePublished": "{{ post.published_at|date(isoformat=True) }}",
      "description": "{{ meta.description }}",
      "articleBody": "{{ post.content|striptags|e }}"
    }
  </script>
{% endblock meta %}

{% block content %}
  {{ super() }}

  <main id="content" class="main">
    <div class="wrapper">
      <div class="content">
        <div class="row">
          <div class="content__inner">
            {% include 'partials/header.html' %}

            <div class="post">
              <div class="post-meta">
                {% if post.title %}
                  {% if post.linked_url %}
                    <h2 class="post-title">
                      <a href="{{ post.linked_url }}">{{ post.title }}</a>
                      <span class="link-char">→</span>
                    </h2>
                  {% else %}
                    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                  {% endif %}
                {% endif %}

                <span class="post-author">{{ post.authors|authors(last_separator=' and ', prefix='by ', suffix=' on ') }}</span>
                <time datetime="{{ post.published_at|date(isoformat=True) }}">{{ post.published_at|date('%B %-d %Y') }}</time>
                {% if post.tags %}<span class="post-tags">{{ post.tags|tags(last_separator=' and ', prefix=' &middot; ', autolink=True) }}</span>{% endif %}
              </div>

              <div class="post-content">
                {{ post.content }}

                {% if post.linked_url %}
                  <p><a href="{{ post.url }}">Permalink</a></p>
                {% endif %}

                {{ site.code_post }}
              </div>

              <div class="post-share">
                <a href="https://twitter.com/intent/tweet?text={{ post.title|striptags|e }}&url={{ post.url|absolute_url }}" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url|absolute_url }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="http://pinterest.com/pin/create/button/?url={{ post.url|absolute_url }}&description={{ post.title|striptags|e }}" class="btn btn-pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.url|absolute_url }}&title={{ post.title|striptags|e }}&summary={{ post.excerpt|striptags|e }}&source={{ site.url }}" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'partials/footer.html' %}
  </main>

  <aside class="sidebar">
    {% if site.description %}
      <div class="site-description">
        <h6>About {{ site.title }}</h6>
        {{ site.description }}
      </div>
    {% endif %}

    {% if theme.variables.twitter_username or theme.variables.facebook_url or theme.variables.linkedin_url or theme.variables.instagram_username or theme.variables.pinterest_username %}
      <div class="typed-social-wrapper">
        {% if theme.variables.twitter_username %}
          <a href="https://twitter.com/{{ theme.variables.twitter_username }}" class="typed-social typed-social-twitter"></a>
        {% endif %}

        {% if theme.variables.facebook_url %}
          <a href="{{ theme.variables.facebook_url }}" class="typed-social typed-social-facebook"></a>
        {% endif %}

        {% if theme.variables.linkedin_url %}
          <a href="{{ theme.variables.linkedin_url }}" class="typed-social typed-social-linkedin"></a>
        {% endif %}

        {% if theme.variables.instagram_username %}
          <a href="https://www.instagram.com/{{ theme.variables.instagram_username }}" class="typed-social typed-social-instagram"></a>
        {% endif %}

        {% if theme.variables.pinterest_username %}
          <a href="https://pinterest.com/{{ theme.variables.pinterest_username }}" class="typed-social typed-social-pinterest"></a>
        {% endif %}
      </div>
    {% endif %}

    {% for author in post.authors %}
      <div class="post-author">
        <h6>Written by {{ author.name }}</h6>
        <div class="author-avatar">
          <img src="{{ author.avatar }}">
        </div>
        <div class="author-bio">
          {{ author.bio }}
        </div>
      </div>
      <div class="clearfix"></div>
    {% endfor %}

    {% if post.has_prev_post  %}
      <div class="post-pagination">
        <h6>Previous post</h6>
        <h4 class="post-title"><a href="{{ post.prev_post.url }}">{{ post.prev_post.title }}</a></h4>
        <div class="post-excerpt">{{ post.prev_post.excerpt }}</div>
        <a href="{{ post.prev_post.url }}" class="read-more">Continue Reading &#10095;</a>
      </div>
    {% endif %}

    {% if post.has_next_post  %}
      <div class="post-pagination">
        <h6>Next post</h6>
        <h4 class="post-title"><a href="{{ post.next_post.url }}">{{ post.next_post.title }}</a></h4>
        <div class="post-excerpt">{{ post.next_post.excerpt }}</div>
        <a href="{{ post.next_post.url }}" class="read-more">Continue Reading &#10095;</a>
      </div>
    {% endif %}
  </aside>
{% endblock content %}
