{% extends 'partials/base.html' %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ post.url|absolute_url }}" />
  {% if post.images %}
    <meta property="og:image" content="{{ post.images[0].url }}" />
    <meta name="twitter:image" content="{{ post.images[0].url }}">
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ meta.title }}",
      "alternativeHeadline": "{{ meta.title }}",
      {% if post.images %}
        "image": [
          "{{ post.images[0].url }}"
        ],
      {% endif %}
      "datePublished": "{{ post.published_at|date(isoformat=True) }}",
      "description": "{{ meta.description }}",
      "articleBody": "{{ post.content|striptags|e }}"
    }
  </script>
{% endblock meta %}

{% block content %}
  {{ super() }}

  <article class="post post--single">
    <h1 class="post-title">{{ post.title }}</h1>

    <div class="post-meta">
      {{ post.authors|authors(last_separator=' and ', prefix='by ', suffix=' on ') }}
      <time datetime="{{ post.published_at|date(isoformat=True) }}">{{ post.published_at|date('%B %-d %Y') }}</time>
      {{ post.tags|tags(last_separator=' and ', prefix=' in ') }}
    </div>

    <div class="content">
      {{ post.content }}
      {{ site.code_post }}
    </div>
  </article>

  {% for author in post.authors %}
    <footer class="post-footer">
      <div class="author-avatar">
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
      </div>
      <div class="author-bio">
        <h3>{{ author.name }}</h3>
        {{ author.bio }}
      </div>
    </footer>
  {% endfor %}

{% endblock content %}
