{% extends 'partials/base.html' %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ page.url|absolute_url }}">
  {% if page.images %}
    <meta property="og:image" content="{{ page.images[0].url }}">
    <meta name="twitter:image" content="{{ page.images[0].url }}">
  {% endif %}
{% endblock meta %}

{% block content %}
  {{ super() }}

  <div class="row">
    <div class="entry-single entry-page">
      <article class="entry">
        <header class="entry-header">
          <h1>{{ page.title }}</h1>
        </header>

        <div class="entry-content">
          {{ page.content }}
        </div>
      </article>
    </div>
  </div>
{% endblock content %}
