{% extends 'partials/base.html' %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ post.url|absolute_url }}">
  <meta property="og:type" content="article">

  {% if post.images %}
    <meta name="twitter:image" content="{{ post.images[0].url }}">
    {% for image in post.images %}
      <meta property="og:image" content="{{ image.url }}">
    {% endfor %}
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ meta.title }}",
      "alternativeHeadline": "{{ meta.title }}",
      {% if post.images %}
        "image": [
          "{{ post.images[0].url }}"
        ],
      {% endif %}
      "datePublished": "{{ post.published_at|date(isoformat=True) }}",
      "description": "{{ meta.description }}",
      "articleBody": "{{ post.content|striptags|e }}"
    }
  </script>
{% endblock meta %}

{% block content %}
  {{ super() }}

  <div class="row">
    <div class="entry-single">
      <article class="entry">
        <header class="entry-header">
          {% if post.linked_url %}
            <h2 class="entry-title">
              <a href="{{ post.linked_url }}">{{ post.title }}</a>
              <span class="link-char">→</span>
            </h2>
          {% else %}
            <h1>{{ post.title }}</h1>
          {% endif %}

          <p class="entry-meta">
            <span class="entry-time">
              <i class="fa fa-calendar-o"></i><time datetime="{{ post.published_at|date(isoformat=True) }}">{{ post.published_at|date(format='%B %-d %Y at %-I:%M %p') }}</time>
            </span>
            {% if post.tags %}
              <span class="entry-tags">
                <i class="fa fa-tag"></i>{{ post.tags|tags(last_separator=' and ') }}
              </span>
            {% endif %}
          </p>
        </header>

        <div class="entry-content">
          {{ post.content }}

          {% if post.has_prev_post  %}
            <p><i class="fa fa-arrow-circle-right"></i> <a href="{{ post.prev_post.url }}">Read “{{ post.prev_post.title }}” next</a></p>
          {% endif %}
        </div>

        {{ site.code_post }}

        {% for author in post.authors %}
          <footer class="author">
            <div class="author-inner">
              <div class="author-avatar">
                <img src="{{ author.avatar }}" alt="{{ author.name }}">
              </div>

              <div class="author-bio">
                <h4>{{ author.name }}</h4>
                {{ author.bio }}
              </div>
            </div>

            <div class="author-bg" style="background-image:url('{{ author.avatar }}');"></div>
          </footer>
        {% endfor %}
      </article>
    </div>
  </div>
{% endblock content %}
