{% extends 'partials/base.html' %}

{% block title %}
  {{ super() }}

  {{ meta.title }} &middot; {{ site.title }}
{% endblock title %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ page.url|absolute_url }}">
  {% if page.images %}
    <meta property="og:image" content="{{ page.images[0].url }}">
    <meta name="twitter:image" content="{{ page.images[0].url }}">
  {% endif %}
{% endblock meta %}

{% block content %}
  {{ super() }}

  <div class="container">
    <article class="post page">
      <h1 class="page-title">{{ page.title }}</h1>

      <div class="content">
        {{ page.content }}
      </div>
    </article>
  </div>
{% endblock content %}
