/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: 'Gentium Book', Georgia, serif;
  font-size: 17px;
  line-height: 1.55;
  color: #202626;
  margin: 0;
}
  @media (min-width: 768px) {
    body {
      font-size: 21px;
      line-height: 1.55;
    }
  }

hr {
  margin: 48px 0;
  border-top: 1px solid #ededed;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 24px;
}

h1, .h1 {
  line-height: 1.2;
  font-size: 27px;
}
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 32px
    }
  }

h2, .h2 {
  font-size: 23px;
}
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 27px;
    }
  }

h3, .h3 {
  font-size: 19px;
  font-weight: 700;
}
  @media (min-width: 768px) {
    h3, .h3 {
      font-size: 23px;
    }
  }

h4, .h4 {
  font-size: 16px;
  font-weight: 700;
}
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 18px;
    }
  }

h5, .h5 {
  font-size: 14px;
  font-weight: 700;
}
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 16px;
    }
  }

h6, .h6 {
  font-size: 12px;
  font-weight: 700;
}
  @media (min-width: 768px) {
    h6, .h6 {
      font-size: 14px;
    }
  }

p {
  margin: 0 0 24px 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 17px;
  padding: 0 24px;
  margin: 0 0 24px 0;
  border-left: 3px solid #2f76bb;
}
  @media (min-width: 768px) {
    blockquote {
      font-size: 21px;
      border-left: 6px solid #2f76bb;
    }
  }

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

.link-char {
  margin-left: 5px;
  color: #a5a5a5;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: #202626;
  border-bottom: 2px solid #2f76bb;
  text-decoration: none;
}
  a:hover,
  a:focus {
    color: #2f76bb;
    text-decoration: none;
  }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul,
ol {
  padding: 0;
  margin-bottom: 24px;
}

ul ul,
ol ul {
  margin-left: 25px;
}

ul ol,
ol ol {
  margin-left: 37px;
}

ul {
  margin-left: 33px;
}

ol {
  margin-left: 39px;
}

li {
  margin-bottom: 12px;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
  font-size: 14px;
  color: #202626;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
  @media (min-width: 768px) {
    code {
      font-size: 16px;
    }
  }

pre {
  padding: 0;
  margin: 0 0 23px 0;
  border: none;
  border-radius: 0;
}

/* Syntax Highlighting
–––––––––––––––––––––––––––––––––––––––––––––––––– */

pre {
  padding: 23px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

code {
  background: #fff;
  border: 1px solid #d9d9d9;
}

pre code {
  border: none !important;
  padding: 0 !important;
}

.hljs {
  display: block;
  overflow-x: auto;
  font-size: 14px;
  color: #202626;
  -webkit-text-size-adjust: none;
}
  @media (min-width: 768px) {
    .hljs {
      font-size: 16px;
    }
  }

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

/* Media
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 24px;
}

iframe,
object,
embed {
  max-width: 100%;
  padding: 0;
  margin: 0 auto 24px auto;
  display: block;
  overflow: hidden;
}

.fluid-width-video-wrapper {
  margin: 0 0 24px 0;
}

.twitter-tweet {
  margin: 0 auto 24px auto!important;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  padding: 48px 0;
  text-align: center;
}
  @media (min-width: 768px) {
   header {
     padding: 72px 0;
   }
  }

.site-title {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 12px;
}
  .site-title a {
    border-bottom: none;
    color: #2f76bb;
  }
  @media (min-width: 768px) {
    .site-title {
      font-size: 30px;
    }
  }

.site-tagline {
  font-style: italic;
  font-size: 17px;
}

.site-nav {
  font-size: 17px;
}

.site-nav ul {
  margin: 12px 0 0 0;
}

.site-nav li {
  margin: 0 15px;
  display: none;
  list-style: none;
}
  @media (max-width: 768px) {
    .site-nav li {
      width: 100%;
      margin: 0;
    }
  }
  @media (min-width: 768px) {
    .site-nav li {
      display: inline-block!important;
    }
  }

.site-nav a {
  color: #202626;
  border-bottom: none;
  padding: 12px 0;
  display: block;
  border-bottom: 1px dashed #d9d9d9;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
}
  .site-nav li:first-child a {
    border-top: 1px dashed #d9d9d9;
  }
  .site-nav li:last-child a {
    border-bottom: none;
  }
  .site-nav a:hover,
  .site-nav a:focus {
    background: #edf2f6;
    color: #2f76bb;
    border-bottom: 1px dashed #d9d9d9;
  }
  @media (min-width: 768px) {
    .site-nav a {
      padding: 0;
      display: inline-block;
      border: none;
    }
    .site-nav li:first-child a {
      border: 0;
    }
    .site-nav a:hover,
    .site-nav a:focus {
      background: none;
      border-bottom: none;
    }
  }

.menu-reveal {
  padding: 10px 0;
  border-top: 1px dashed #d9d9d9;
  border-bottom: 1px dashed #d9d9d9;
  display: block;
}
  .menu-reveal:hover {
  border-top: 1px dashed #d9d9d9;
  border-bottom: 1px dashed #d9d9d9;
  }
  @media (min-width: 768px) {
    .menu-reveal {
      display: none!important;
    }
  }

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

article {
  margin-bottom: 48px;
}
  @media (min-width: 768px) {
    article {
      margin-bottom: 72px;
    }
  }

.post-meta {
  color: #a5a5a5;
  font-size: 17px;
  margin-bottom: 24px;
}
  .post-meta a {
    color: #a5a5a5;
    border-bottom: none;
  }
  .post-meta a:hover,
  .post-meta a:focus {
    color: #202626;
  }

.post-title {
  margin-bottom: 6px;
}

.tag-title {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 48px;
}
  @media (min-width: 768px) {
    .tag-title {
      margin-bottom: 72px;
    }
  }

.post-title a {
  color: #202626;
  border-bottom: none;
}

  .post-title a:hover {
    color: #2f76bb;
  }

.site-pagination {
  text-align: center;
  margin-bottom: 48px;
}
  @media (min-width: 768px) {
    .site-pagination {
      margin-bottom: 72px;
    }
  }

.pagination {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  margin: 0 auto;
}
  .pagination a {
    color: #2f76bb;
  }

.related-post {
  font-size: 17px;
  font-variant: small-caps;
  letter-spacing: 2px;
  margin-bottom: 48px;
  display: block;
}
  @media (min-width: 768px) {
    .related-post {
      margin-bottom: 72px;
    }
  }

.post-author {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  border-top: 1px solid #ededed;
  border-bottom: 4px solid #ededed;
  padding: 48px 0 24px 0;
  margin: 48px 0px;
}

.post-author + .post-author {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.author-avatar {
  padding-left: 0;
}
  .author-avatar img {
    border-radius: 100%;
  }

.author-bio {
  padding-right: 0;
}

  .author-bio h3 {
    font-weight: 700;
    margin-bottom: 12px;
  }

  .post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Archive
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.archive-month {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-top: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #2f76bb;
}

.archive-month:first-child {
  margin-top: 0;
}

.archive-item {
  margin-bottom: 24px;
}

.archive-item:last-of-type {
  margin-bottom: 72px;
}

/* Bigfoot
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  font-smoothing: antialiased;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus {
  outline: none;
  background-color: rgba(110, 110, 110, 0.5);
}

.bigfoot-footnote__button:active {
  background-color: rgba(110, 110, 110, 0.5);
}

.bigfoot-footnote__button.is-active {
  background-color: #6e6e6e;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.bigfoot-footnote__button:after {
  content: '';
  display: table;
  clear: both;
}

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left;
}

.bigfoot-footnote__button__circle:last-child {
  margin-right: 0;
}

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

@media not print {
  .footnote-print-only {
    display: none !important;
  }
}

@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important;
  }
}

.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transform: scale(0.1) translateZ(0);
  -ms-transform: scale(0.1) translateZ(0);
  transform: scale(0.1) translateZ(0);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.bigfoot-footnote.is-positioned-top {
  top: auto;
  bottom: 0;
}

.bigfoot-footnote.is-active {
  -webkit-transform: scale(1) translateZ(0);
  -ms-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  opacity: 0.97;
}

.bigfoot-footnote.is-bottom-fixed {
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  margin: 0;
  border-radius: 0;
  opacity: 1;
  border-width: 1px 0 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.bigfoot-footnote.is-bottom-fixed.is-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
  margin: 0 0 0 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
  border-radius: 0;
}

.bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
  display: none;
}

.bigfoot-footnote.is-scrollable:after {
  content: '';
  position: absolute;
  bottom: 0.3375em;
  left: 0.3375em;
  z-index: 14;
  display: block;
  height: 0.78125em;
  width: 0.625em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.1;
  transition-properties: opacity;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before,
.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  content: '';
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
  top: -1px;
  height: 1.1em;
  border-radius: 0.5em 0.5em 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(rgba(250, 250, 250, 0)));
  background-image: -webkit-linear-gradient(top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}

.bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
  bottom: -1px;
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(rgba(250, 250, 250, 0)));
  background-image: -webkit-linear-gradient(bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
  background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%);
}

.bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
  display: none;
}

.bigfoot-footnote.is-fully-scrolled:after,
.bigfoot-footnote.is-fully-scrolled:before {
  opacity: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0;
}

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  font-smoothing: subpixel-antialiased;
  line-height: normal;
}

.bigfoot-footnote__content img {
  max-width: 100%;
}

.bigfoot-footnote__content *:last-child {
  margin-bottom: 0 !important;
}

.bigfoot-footnote__content *:first-child {
  margin-top: 0 !important;
}

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
}

.is-positioned-bottom .bigfoot-footnote__tooltip {
  top: -0.65em;
}

.is-positioned-top .bigfoot-footnote__tooltip {
  bottom: -0.65em;
}


/* Error
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.error {
  margin-bottom: 60px;
  text-align: center;
}

.error h1 {
  margin-bottom: 10px;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a5a5a5;
  text-align: center;
  padding: 0 0 12px 0;
}

footer p {
  margin: 0;
}

footer a {
  color: #a5a5a5;
  border-bottom: none;
}
  footer a:hover{
    color: #2f76bb;
  }
