<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ meta.title }} &middot; {{ site.title }}</title>

    <meta name="description" content="{{ meta.description }}">
    <meta property="og:description" content="{{ meta.description }}">

    <meta property="twitter:description" content="{{ meta.description }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ meta.title }}">
    <meta property="twitter:domain" content="{{ site.url }}">

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ meta.title }}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="canonical" href="{{ site.url }}">

    <link rel="icon" href="{% asset 'img/icon.png' %}">
    <link rel="mask-icon" href="{% asset 'img/mask-icon.svg' %}" color="#5AADED">
    <link rel="apple-touch-icon-precomposed" href="{% asset 'img/apple-touch-icon-precomposed.png' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% asset 'css/styles.css' %}">

    <link rel="alternate" href="{{ site.feed_url }}" title="{{ site.title }}" type="application/rss+xml">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{ site.code_head }}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    {% include 'partials/header.html' %}

    <div id="content" class="container">
      {% block content %}
      {% endblock content %}
    </div>

    {% include 'partials/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
    <script src="{% asset 'js/jquery.bigfoot.js' %}"></script>
    <script src="{% asset 'js/main.js' %}"></script>
    {{ site.code_body }}
  </body>
</html>
