<header class="site-header">
  <div class="site-header__inner">
    <div class="site-info">
      {% if site.logo %}
        <h1 class="site-logo"><a href="/"><img src="{{ site.logo }}" alt="{{ site.title }}"></a></h1>
      {% else %}
        <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
      {% endif %}
      
      <div class="site-description">{{ site.description }}</div>
    </div>

    {% if site.navigation %}
      <a href="#" class="menu-toggle"><i class="fa fa-bars"></i></a>

      <nav class="site-navigation">
        <ul>
          {% for item in site.navigation %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</header>
