{% extends 'partials/base.html' %}

{% block meta %}
  {{ super() }}

  <meta property="og:url" content="{{ page.url|absolute_url }}" />
  {% if page.images %}
    <meta property="og:image" content="{{ page.images[0].url }}" />
    <meta name="twitter:image" content="{{ page.images[0].url }}">
  {% endif %}
{% endblock meta %}

{% block content %}
  {{ super() }}

  <div class="main__inner page">
    <article class="page__inner">
      <div class="page__intro" {% if page.images %}style="background-image: url('{{ page.images[0].url }}')"{% endif %}>
        <div class="overlay"></div>
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
      <div class="page-content">
        {{ page.content }}
      </div>
    </article>
  </div>
{% endblock content %}
