<header class="site-header">
  <div class="site-header__inner">
    <div class="branding">
      <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
      <div class="nav-toggle btn btn-primary" id="nav-toggle"><i class="fa fa-bars"></i>Menu</div>
    </div>

    {% if site.navigation %}
      <nav class="navigation">
        <ul>
          {% for item in site.navigation %}
            <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</header>
