{% extends 'partials/base.html' %}

{% block title %}
  {{ super() }}

  {{ site.title }} &middot; {{ meta.description }}
{% endblock title %}

{% block content %}
  {{ super() }}

  <div class="page post-list">
    {% if filters.tags %}
      <h5 class="tags-title">{{ filters.tags|tags(last_separator=' and ', prefix='Posts tagged: ', autolink=False) }}</h1>
    {% endif %}

    <div {% if filters.tags %}class="tags-list"{% endif %}>
      {% for post in posts %}
        <article class="post-list__item">
          {% if post.title %}
            <div class="post-title title-link">
              {% if post.linked_url %}
                <h2 data-text="{{ post.title }} →">
                  <a href="{{ post.linked_url }}">{{ post.title }} →</a>
                </h2>
              {% else %}
                <h2 data-text="{{ post.title }}"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
              {% endif %}
            </div>
          {% endif %}

          <div class="post-date">
            {{ post.authors|authors(last_separator=' and ', prefix='by ', suffix=' on ') }}
            <a href="{{ post.url }}" rel="bookmark"><time datetime="{{ post.published_at|date(isoformat=True) }}">{{ post.published_at|date('%B %-d %Y') }}</time></a>
          </div>

          <div class="post-excerpt">
            {% if post.title %}
              {% if post.linked_url %}
                {{ post.content }}
                <p><a href="{{ post.url }}">Permalink</a></p>
              {% else %}
                {{ post.excerpt }}
                <p><a href="{{ post.url }}">Read more</a></p>
              {% endif %}
            {% else %}
              {{ post.content }}
            {% endif %}
          </div>
        </article>
      {% else %}
        <h1>No posts</h1>
      {% endfor %}
    </div>

    {% if pagination.has_pages %}
      <nav class="site-pagination">
        <ul>
          {% if pagination.has_prev %}
            <li>
              <a href="{{ pagination.prev }}" aria-label="Previous"><i class="fa fa-caret-left"></i> Newer Posts</a>
            </li>
          {% else %}
            <li class="disabled">
              <i class="fa fa-caret-left"></i> Newer Posts
            </li>
          {% endif %}

          {% if pagination.has_next %}
            <li>
              <a href="{{ pagination.next }}" aria-label="Next">Older Posts <i class="fa fa-caret-right"></i></a>
            </li>
          {% else %}
            <li class="disabled">
              Older Posts <i class="fa fa-caret-right"></i>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock content %}
